*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  .container{
    background: #ffffff;
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

  .logo img{
    width: 120px;
    height: 60px;
  }
  
  
  .menu{
    display: flex;
    gap: 30px;
  }
  
  .menu a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .menu a:hover{
    color: #3c8d5f;
  }
  
  
  .btn {
    background: #3c8d5f;
    color:#ffffff ;
    padding: 10px 18px;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font-weight: 500;
  }
  
  .btn:hover{
    background: #2f704a;
  }